html {                                    
    font-family: Arial, Helvetica, sans-serif; /*différentes polices utilisées*/ 
}

/******************************************************************************************************************
                                            header
*******************************************************************************************************************/

.navbar-header {
    width: 100%;
    height: 50px;
    background-color: rgb(222, 188, 143);
    border-bottom: 0.5px solid rgb(85, 1, 1);

}

.liste-menus {
    display: flex;
    justify-content: center;
    color  : #F1F1F1;
    list-style-type : none;
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    margin-top: 0px; /* permet de coller le nav au div*/

}





/*-------------------------------------------------------------------------------
                           Sous menus de Compétences
---------------------------------------------------------------------------------*/ 
.sous-liste-tp, .sous-liste-mission, .sous-liste-JS, .sous-liste-BD, .sous-liste-PHP, .sous-liste-Certifications {
    display:none;   /*mettre display none ici*/
    position : absolute;            
    padding : 0; 
    text-align: center;
    
}



.sous-menus-tp, .sous-menus-mission, .sous-menus-JS, .sous-menus-BD, .sous-menus-PHP, .sous-menus-Certifications {
    
    list-style-type: none;  
    text-align: center;
    padding: 0 0px;
    background: rgb(243, 213, 173);
    border: 0.1px solid white;
    color: white;
    
}


.menus-tp:hover .sous-liste-tp {    /* affiche le sous menu de HTML & CSS lorsque survolé*/
    display: block;
}
.menus-JS:hover .sous-liste-JS {    /* affiche le sous menu de JavaScript lorsque survolé*/
    display: block;
}
.menus-BD:hover .sous-liste-BD {    /* affiche le sous menu de Base de données lorsque survolé*/
    display: block;
}
.menus-PHP:hover .sous-liste-PHP {    /* affiche le sous menu de PHP lorsque survolé*/
    display: block;
}
.menus-mission:hover .sous-liste-mission {    /* affiche le sous menu des missions lorsque survolé*/
    display: block;
}
.menus-Certifications:hover .sous-liste-Certifications {    /* affiche le sous menu des certifications lorsque survolé*/
    display: block;
}



header a {
    text-decoration: none;
    color: white; 
    display: inline-block;
    transition : 0.3s;
    width:100%;
    height: 100%;
    margin-right: 42px;
    text-align: center;    
}
.menus:hover{
    background-color:white;
    color :rgb(222, 188, 143); 
}


body{
    background-image: url(img_index/background_landscape.jpg); /* Définit l'image de fond du site, ainsi que sa taille*/
    background-size: cover;
}

header a:hover {
    background-color: #F1F1F1;
    color : rgb(222, 188, 143);
    box-shadow: 0px 0px 5px 5px white;

}   